spring:
  application:
    name: jc-ai-agent-backend
  ai:
    dashscope:
      api-key: ${JC_AI_AGENT_API_KEY}
      chat:
        options:
          model: qwen-flash
      embedding:
        options:
#          默认 维度为 1536
          model: text-embedding-v2
    ollama:
      base-url: http://localhost:11434
      chat:
        model: gemma3:4b
    mcp:
      client:
        request-timeout: 60s
        stdio:
          servers-configuration: classpath:mcp-server.json


    # 上线配置
    #  datasource:
    #    url: ${JC_AI_AGENT_POSTGRES_URL}
    #    username: ${JC_AI_AGENT_POSTGRES_USER_NAME}
    #    password: ${JC_AI_AGENT_POSTGRES_PWD}
  datasource:
    url: jdbc:postgresql://localhost:5432/love_app
    username: postgres
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 60MB
jc-ai-agent:
  api_key: ${JC_AI_AGENT_API_KEY}
  email_account: ${JC_AI_AGENT_EMAIL_USERNAME}
  email_password: ${JC_AI_AGENT_EMAIL_PASSWORD}
  tenant:
    max-create-teams: 5
server:
  port: 8525
  servlet:
    context-path: /api
# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: fun.javierchen.jcaiagentbackend.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: false
  setting:
    language: zh_cn
